In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Landerneau,48.4525,-4.2525,63.79,74,75,19.57,FR,2021-08-08 17:04:28
1,1,Jamestown,42.0970,-79.2353,82.09,65,75,5.99,US,2021-08-08 17:04:28
2,2,Coihaique,-45.5752,-72.0662,48.15,53,0,3.44,CL,2021-08-08 17:04:29
3,3,Port Alfred,-33.5906,26.8910,66.11,59,61,16.71,ZA,2021-08-08 17:04:29
4,4,Ushuaia,-54.8000,-68.3000,38.55,81,94,4.99,AR,2021-08-08 17:03:16

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Jamestown,42.0970,-79.2353,82.09,65,75,5.99,US,2021-08-08 17:04:28
8,8,Malatya,38.5000,38.0000,77.05,34,75,18.41,TR,2021-08-08 17:04:30
9,9,Sao Filipe,14.8961,-24.4956,79.97,78,18,9.06,CV,2021-08-08 17:04:31
11,11,Gandajika,-6.7500,23.9500,84.65,17,97,1.30,CD,2021-08-08 17:04:31
14,14,Mitsamiouli,-11.3847,43.2844,77.02,66,43,7.36,KM,2021-08-08 17:00:49
18,18,Carman,49.4992,-98.0016,82.72,28,27,12.80,CA,2021-08-08 17:00:25
19,19,Kimbe,-5.5502,150.1429,75.29,92,99,3.60,PG,2021-08-08 17:04:33
20,20,Cristobal Obregon,16.3500,-93.5333,78.06,65,71,2.19,MX,2021-08-08 17:04:34
23,23,Ixtapa,20.7000,-105.2000,87.22,66,1,2.30,MX,2021-08-08 17:04:34
31,31,Arraial Do Cabo,-22.9661,-42.0278,75.06,60,20,16.11,BR,2021-08-08 17:04:36

In [22]:
preferred_cities_df.count()

City_ID       195
City          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
Country       195
Date          195
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
1           Jamestown      US     82.09  42.0970  -79.2353
8             Malatya      TR     77.05  38.5000   38.0000
9          Sao Filipe      CV     79.97  14.8961  -24.4956
11          Gandajika      CD     84.65  -6.7500   23.9500
14        Mitsamiouli      KM     77.02 -11.3847   43.2844
18             Carman      CA     82.72  49.4992  -98.0016
19              Kimbe      PG     75.29  -5.5502  150.1429
20  Cristobal Obregon      MX     78.06  16.3500  -93.5333
23             Ixtapa      MX     87.22  20.7000 -105.2000
31    Arraial Do Cabo      BR     75.06 -22.9661  -42.0278

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
# Hotel Names in hotel_df
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Jamestown,US,82.09,42.0970,-79.2353,Hampton Inn & Suites Jamestown
8,Malatya,TR,77.05,38.5000,38.0000,
9,Sao Filipe,CV,79.97,14.8961,-24.4956,Hotel Xaguate
11,Gandajika,CD,84.65,-6.7500,23.9500,
14,Mitsamiouli,KM,77.02,-11.3847,43.2844,Foyer ADM
18,Carman,CA,82.72,49.4992,-98.0016,"Bell Aura Bed, Breakfast & Bistro"
19,Kimbe,PG,75.29,-5.5502,150.1429,Kimbe Bay Hotel
20,Cristobal Obregon,MX,78.06,16.3500,-93.5333,
23,Ixtapa,MX,87.22,20.7000,-105.2000,Hotel Plaza Providencia
31,Arraial Do Cabo,BR,75.06,-22.9661,-42.0278,Pousada Porto Praia

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))