## Deliverable 2. Create a Customer Travel Destinations Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [42]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Port Alfred,ZA,-33.5906,26.8910,58.71,63,27,28.39,light rain
1,1,Dikson,RU,73.5069,80.5464,41.22,95,100,13.18,overcast clouds
2,2,Busselton,AU,-33.6500,115.3333,52.09,70,100,29.04,overcast clouds
3,3,Boa Vista,BR,2.8197,-60.6733,84.18,70,75,4.61,broken clouds
4,4,Viedma,AR,-40.8135,-62.9967,47.37,43,0,7.61,clear sky
5,5,Kokopo,PG,-4.3520,152.2633,76.51,85,78,7.63,broken clouds
6,6,Belyy Yar,RU,53.6039,91.3903,67.89,77,13,2.24,few clouds
7,7,Kapaa,US,22.0752,-159.3190,79.12,77,90,11.50,overcast clouds
8,8,Punta Arenas,CL,-53.1500,-70.9167,44.71,61,75,31.07,broken clouds
9,9,Sitka,US,57.0531,-135.3300,57.09,82,90,8.05,light rain

In [43]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_prompt_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_prompt_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [44]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
min_max_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_prompt_temp) &(city_data_df["Max Temp"] >= min_prompt_temp)]
min_max_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Boa Vista,BR,2.8197,-60.6733,84.18,70,75,4.61,broken clouds
5,5,Kokopo,PG,-4.3520,152.2633,76.51,85,78,7.63,broken clouds
7,7,Kapaa,US,22.0752,-159.3190,79.12,77,90,11.50,overcast clouds
10,10,Kloulklubed,PW,7.0419,134.2556,77.50,72,94,8.86,overcast clouds
11,11,Srandakan,ID,-7.9386,110.2506,76.98,87,55,9.57,broken clouds

In [45]:
# 4a. Determine if there are any empty rows.
min_max_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [46]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
dropped_rows_df = min_max_cities_df.dropna()
dropped_rows_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Boa Vista,BR,2.8197,-60.6733,84.18,70,75,4.61,broken clouds
5,5,Kokopo,PG,-4.3520,152.2633,76.51,85,78,7.63,broken clouds
7,7,Kapaa,US,22.0752,-159.3190,79.12,77,90,11.50,overcast clouds
10,10,Kloulklubed,PW,7.0419,134.2556,77.50,72,94,8.86,overcast clouds
11,11,Srandakan,ID,-7.9386,110.2506,76.98,87,55,9.57,broken clouds
...,...,...,...,...,...,...,...,...,...,...
693,693,Lingao,CN,19.9103,109.6859,83.39,84,100,6.55,light rain
695,695,Chongwe,ZM,-15.3292,28.6820,78.80,16,0,7.63,clear sky
696,696,Gencsapati,HU,47.2850,16.5958,85.89,46,22,4.97,few clouds
697,697,Ambilobe,MG,-13.2000,49.0500,74.86,73,100,3.98,light rain
698,698,Shihezi,CN,44.3000,86.0333,85.91,19,15,6.44,few clouds

In [47]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = dropped_rows_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Boa Vista,BR,84.18,broken clouds,2.8197,-60.6733,
5,Kokopo,PG,76.51,broken clouds,-4.3520,152.2633,
7,Kapaa,US,79.12,overcast clouds,22.0752,-159.3190,
10,Kloulklubed,PW,77.50,overcast clouds,7.0419,134.2556,
11,Srandakan,ID,76.98,broken clouds,-7.9386,110.2506,
12,Sao Joao Da Barra,BR,77.09,clear sky,-21.6403,-41.0511,
15,Mardin,TR,88.86,few clouds,37.3131,40.7436,
16,Yantzaza,EC,75.74,light rain,-3.8278,-78.7594,
17,Bengkulu,ID,77.14,overcast clouds,-3.8004,102.2655,
20,Saint-Philippe,RE,72.95,scattered clouds,-21.3585,55.7679,

In [48]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()  
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [49]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Boa Vista,BR,84.18,broken clouds,2.8197,-60.6733,Aipana Plaza Hotel
5,Kokopo,PG,76.51,broken clouds,-4.3520,152.2633,Kokopo Beach Bungalow Resort
7,Kapaa,US,79.12,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Kloulklubed,PW,77.50,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
11,Srandakan,ID,76.98,broken clouds,-7.9386,110.2506,Puri Brata
12,Sao Joao Da Barra,BR,77.09,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
15,Mardin,TR,88.86,few clouds,37.3131,40.7436,Reyhani Kasri Hotel
16,Yantzaza,EC,75.74,light rain,-3.8278,-78.7594,HOTEL ALEJANDRO YANTZAZA
17,Bengkulu,ID,77.14,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
20,Saint-Philippe,RE,72.95,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [55]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [56]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [57]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

In [58]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))