## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df= vacation_df.loc[vacation_df['Country'] =='US']
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,7,Kapaa,US,79.12,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,27,Jamestown,US,81.99,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
16,34,Hilo,US,71.33,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
24,54,Saint George,US,87.53,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
28,62,Bud,US,75.56,broken clouds,39.4470,-86.1758,Ted McQuinn Trust
30,65,Roma,US,76.86,haze,43.2128,-75.4557,Wingate By Wyndham Rome
34,73,Lewiston,US,72.91,overcast clouds,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch
36,79,Poquoson,US,84.00,clear sky,37.1224,-76.3458,Whitehouse Cove
42,88,Westport,US,77.04,overcast clouds,41.1415,-73.3579,The Westport Inn
49,100,Nantucket,US,75.34,broken clouds,41.2835,-70.0995,Jared Coffin House

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df['City'] == 'jamestown']
vacation_end = vacation_df.loc[vacation_df['City'] == 'jamestown']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'roma']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'westport'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'lewiston']

In [71]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = pd.DataFrame(vacation_df[["Lat", "Lng"]]).to_numpy()[1]
end = pd.DataFrame(vacation_df[["Lat", "Lng"]]).to_numpy()[1]
stop1 = pd.DataFrame(vacation_df[["Lat", "Lng"]]).to_numpy()[6]
stop2 = pd.DataFrame(vacation_df[["Lat", "Lng"]]).to_numpy()[5]
stop3 = pd.DataFrame(vacation_df[["Lat", "Lng"]]).to_numpy()[8]

In [72]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

Empty DataFrame
Columns: [City_ID, City, Country, Max Temp, Weather Description, Lat, Lng, Hotel Name]
Index: []

In [80]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [81]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure